@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
}

.back-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #1a1a1a;
  background: #83eebc;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.container {
  width: 400px;
  margin: 100px auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
textarea,
button {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #83eebc;
  color: #1a1a1a;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #83eebc;
}

h2 {
  text-align: center;
}

#description {
  resize: none;
  height: 100px;
  width: 100%;
}
